# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/
media/

# Variables de entorno
.env
.env.*
!.env.example

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.temp