{% load static %}
<nav id="navbar">
    <div class="nav-logo">
        <div class="logo-box">
            <img src="{% static 'img/logo.png' %}" alt="Grupo V&R" width="32" height="20">
        </div>
        <div style="margin-left:8px;">
            <div class="logo-txt">GRUPO V&amp;R</div>
            <div class="logo-sub">Consultores · Agente de Seguros S.A.</div>
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios/">Servicios</a></li>
        <li><a href="/vacantes/">Vacantes</a></li>
        <li><a href="/citas/agendar/">Citas</a></li>
    </ul>
    <a href="/citas/agendar/" class="btn-nav">Agendar Asesoría</a>
</nav>